\.pyc$
\.log$
\.cache$
\..+\.swp$

^static/
^.idea/
.idea
syntax:glob
*.egg-info
*.sqlite3
*.pot
*.py[co]
__pycache__
MANIFEST
dist/
static.old/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
api2/test/.coverage
build/
tests/report/
tags
.hypothesis
.env
_env_production
.ipynb_checkpoints/
_env_produccion
logs/django.log
intranet/enmiendas_listados/modelos/~$guion.docx
intranet/enmiendas_listados/modelos/~$guion.rtf
intranet/enmiendas_presupuesto/modelos/~$gistro.docx
.vscode/
session.vim
extra/
*.swp
.python-version
exports/
.venv
.venv38
